html
{
    background-image: linear-gradient(to left, white 0%, #1a85dd 100%);
} 


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:90%;
    background-color: rgb(255, 255, 255);
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 75px;
    box-shadow: 5px 5px 0 0;
}
a:hover, a:focus {
    font-style: italic;
    color:rgb(255, 0, 0);
    border: 3px rgb(140, 183, 211);
    border-style: dotted solid;
}
header h1 {
    font-size: 175%;
    color:rgba(128, 128, 128, 0);
    text-indent: 30px;
}
header h2{
    font-size: 130%;
    color: #8d8d8d00;
    text-indent: 30px;
}
header img{
    float:left;
    margin-left: 2em;
}
.shadow{ /*this is the class*/
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
article{
    clear: both;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted rgb(140, 183, 211);
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {
    column-span: all;
}
article img{
    float: left;
    margin-right:1em;
    margin-bottom: 1em;
}
article p::first-letter{
    font-size:3em;
    font-weight:bold;
    font-style: italic;
    color: rgb(140, 183, 211);
}
aside {
    width:20%;
    float:right;
    background-color: rgb(140, 183, 211);
}
footer{
    clear:both;
    border-top: 2px solid rgb(140, 183, 211);
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
p.fixed{
    width: auto;
    position: fixed;
    bottom: 35%;
    right:0;
    border:3px solid rgb(29, 134, 204);
    background-color: rgb(140, 183, 211);
    padding: 10px;
}