html
{
    background-image: linear-gradient(to left, white 0%, #1a85dd 100%);
} 


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:90%;
    background-color: rgb(255, 255, 255);
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 75px;
    box-shadow: 5px 5px 0 0;
}
a:hover, a:focus {
    font-style: italic;
    color:rgb(255, 0, 0);
    border: 3px rgb(140, 183, 211);
    border-style: dotted solid;
}
header h1 {
    font-size: 175%;
    color:rgba(128, 128, 128, 0);
    text-indent: 30px;
}
header h2{
    font-size: 130%;
    color: #8d8d8d00;
    text-indent: 30px;
}
header img{
    float:left;
    margin-left: 2em;
}
.shadow{ /*this is the class*/
    text-shadow: 2px 2px 2px rgb(0, 0, 0);}
main {
    clear:left
}
main h3 {
    margin:3em 2em 1.5em;
    font-size: 105%;
    border: 5px dashed rgb(140, 183, 211);
    border-radius:20px;
    box-shadow:3px 3px 4px 4px rgb(140, 183, 211) ;
    padding: 1em;
}
main nav {
    margin:1.5em 2em 1.5em;
    border: 5px dashed rgb(140, 183, 211);
    border-radius:20px;
    box-shadow:3px 3px 4px 4px rgb(140, 183, 211) ;
    padding: .5em;
}
#id {   
    line-height: 105%;
}
main div{
    margin:1.5em 2em 0 2em;
    border: 5px dotted rgb(140, 183, 211);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(140, 183, 211) ;
    padding: 1em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}